<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express-Dev-Skills</Express-Dev-Skills></title>
</head>
<body>
        <h1>Skills</h1>
        <ul>
          <% skills.forEach(function(t) { %>
            <li>
              <%= t.skill %>
                - 
              <%= t.done ? 'done' : 'not done' %>
            </li>
          <% }); %>
        </ul>
      </body>
    
    
</body>
</html>